
@{
    ViewData["Title"] = "PreferenceCheck";
}

<div class="text-center">
    <h1>Check What Volunteer Opportunity Best Suits You!</h1>
    <p>Select a location and Job type that best suit your personality</p>
</div>

@*<div>
    <form>
        <p>Location:</p>
        <p>
            <input type="text" id="jobLocation" name="jobLocationString" value="@ViewData["CurrentFilter"]"/>
            <input type ="submit" value="Search" class="button" />
        </p>
        <p>Job Type:</p>
        <p>
            <input type="text" id="jobType" name="jobTypeString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="button" />
        </p>
    </form>
</div>

<div>
    <form>
        <p>Location:
            <input type="text" id="jobLocation" name="jobLocationString" value="@ViewData["FirstFilter"]" />
            Job Type:
            <input type="text" id="jobType" name="jobTypeString" value="@ViewData["SecondFilter"]" />
            <input type="submit" value="Search" class="button" />
        </p>
    </form>
</div>*@

<form method="get" action="@Url.Action("PreferenceDisplay", "Jobs")">
    <div class="text-center">
        <label for="workplace">Location:</label>
        <input type="text" id="locationName" name="workplace" id="workplace" />
        <label for="typeOfWork">Job Type:</label>
        <input type="text" id="typeName" name="typeOfWork" id="typeOfWork" />
        <button type="submit">Search</button>
    </div>
</form>

@section Scripts{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#locationName").autocomplete({
                source: '/Jobs/SearchLocation'
            });
        });
        $(function () {
            $("#typeName").autocomplete({
                source: '/Jobs/SearchType'
            });
        });
    </script>
}


