@model IEnumerable<IndustryExperienceMain.Models.AgencyJobViewModel>

@{
    ViewData["Title"] = "PreferenceDisplay";
}

<h1 class="text-center">Volunteer Opportunities</h1>

@{
    var jobList = Model.ToList();
    if (!jobList.Any())
    {
        <div class="align-content-center">
            <h1 class="text-center">OOPS!</h1>
            <p>
                <center>Sorry no matches found!</center>
                <center>The opportunity you are looking for is currently not in our database,</center>
                <center>but this site will be updated periodically to include more items.</center>
                <center>Stay tuned for more updates!</center>
            </p>
        </div>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-4 gap-3 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title text-center"><a href="@Html.DisplayFor(modelItem => item.AgencyLink)">@Html.DisplayFor(modelItem => item.AgencyName)</a></h5>
                            <img src="https://via.placeholder.com/150" class="card-img-top" alt="agency image">
                            <p class="card-text">
                                <strong>Commitment: </strong>@Html.DisplayFor(modelItem => item.Commitment)<br />
                                <strong>Time Preference: </strong>@Html.DisplayFor(modelItem => item.TimeSection)<br />
                                <strong>Location: </strong>@Html.DisplayFor(modelItem => item.Workplace)<br />
                            </p>
                           
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}