@model IEnumerable<IndustryExperienceMain.Models.AgencyJobViewModel>

@{
    ViewData["Title"] = "Preference Display";
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKPqWqIuwEwsbKsk6csoG-hW10K_DNn1o&libraries=places"></script>
<h1 class="text-center" style="margin-top: 75px; margin-bottom: 50px;">Volunteer Opportunities</h1>
<div id="map" style="height: 900px; width: 100%"></div>



<script>
    @*Create a new map and have the initial zoom over Melbourne*@
    function initMap() {
        var mapOptions = {
            center: { lat: -37.8136, lng: 144.9631 },
            zoom: 10
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    @*Plot markers for each volunteering oppportunity found in the database*@
    @foreach (var item in Model)
    {
        <text>
            var contentString = createContentString('@item.AgencyLogo', '@item.AgencyLink', '@item.AgencyName', '@item.TypeOfWork', '@item.Commitment', '@item.TimeSection', '@item.Workplace');

            var marker = new google.maps.Marker({
                position: { lat: @item.Latitude, lng: @item.Longitude },
                map: map,
                title: '@item.AgencyName'
            });

            (function (marker, contentString) {
                var infoWindow = new google.maps.InfoWindow({
                    content: contentString,
                    maxWidth: 300
                });

                // Attach click event listener to marker
                marker.addListener('click', function () {
                    window.open('@item.AgencyLink', '_blank');
                });

                // Attach mouseover event listener to marker
                marker.addListener('mouseover', function () {
                    infoWindow.open(map, marker);
                });

                // Attach mouseout event listener to marker
                marker.addListener('mouseout', function () {
                    infoWindow.close();
                });
            })(marker, contentString);
        </text>
    }
    }
   
    @*Create cards on the google map markers*@
    function createContentString(agencyLogo, agencyLink, agencyName, typeOfWork, commitment, timeSection, workplace) {
        var contentString = '<div class="card h-100">' +
            '<div class="card-body">' +
            '<img src="' + agencyLogo + '" class="card-img-top" alt="Agency Logo" style="width: 100%; height: 150px;">' +
            '<p class="card-text">' +
            '<strong>Interest: </strong>' + typeOfWork + '<br>' +
            '<strong>Commitment: </strong>' + commitment + '<br>' +
            '<strong>Time Preference: </strong>' + timeSection + '<br>' +
            '<strong>Location: </strong>' + workplace + '<br>' +
            '</p>' +
            '</div>' +
            '</div>';

        return contentString;
    }
    google.maps.event.addDomListener(window, 'load', initMap);
</script>

<style>
    .card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
</style>